{% extends 'base.html' %}

{% block title %}Login{% endblock %}


{% block content %}
<section class="container">
  <div class="row justify-content-md-center " style="padding-top: 240px;">
      <div class="col-md-4">
          <form method="post">
            {% csrf_token %}
              <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" id="id_username" placeholder="Enter your Username" name="username">
              </div>
              <div class="form-group">
                  <label for="username">Password</label>
                  <input type="password" class="form-control" id="id_password" placeholder="Password" name="password">
              </div>
              
              <!-- {{ form.as_p }} -->
              <button type="submit" class="btn btn-primary">Log In</button>
          </form>
      </div>
  </div>
</section>
{% endblock %}