{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <div class="card text-center">
    <div class="card-header">
      DJANGO. TAMPLATE ADMIN JOB SPAMER
    </div>
    <div class="card-body">
      <h5 class="card-title">Job Spamer</h5>
      <p class="card-text">That app was creating for control spamer bot. In order to continue need to authorize.</p>
      <a href="{% url 'login' %}" class="btn btn-primary">START</a>
    </div>
    <div class="card-footer text-muted">
      Python 3
    </div>
  </div>
{% endif %}
{% endblock %}